
    <!-- Contact Section -->

    <section id="contact">
        <div class="container">
   
            <div class="row">
                <div class=" col-sm-offset-2 col-sm-10 text-center"> 
					
				   	<%= simple_form_for @message, :validate => true,  :url => contact_path do |f| %>
				   
				   <%= f.error_notification %>
				   
				   <% if @message.errors.any? %>  
				     <div id="errorExplanation">  
				       <h3><%= pluralize(@message.errors.count, "error") %> prohibited this Application from being saved:</h3>  
				       <ul>  
				       <% @message.errors.full_messages.each do |msg| %>  
				         <li><%= msg %></li>  
				       <% end %>  
				       </ul>  
				     </div>  
				     <% end %>
				   
				   
				   	<table class=" col-xs-12 col-sm-10">

				   	  <tbody>
				   
				   
				   	  	 <tr>	     
				   		  <th>
				   		 
		  
				   		  <%= f.input :name, :label=>"Name:", :placeholder=>"Your Name", :input_html => { :class => "enroll_input col-sm-6" }, :validate => { :presence => true, :uniqueness => false } %>
				   	  
				          <br>  <br>
				   	   
				   		  <%= f.input :email, :label=>"Email Address:",  :input_html => { :class => "enroll_input col-sm-5"}, :placeholder=>"Your Email Address" %> 
				   	   	 
				 
				       <br>  <br>

				   		<%= f.input :phone,  :label=>'Phone Number:', :placeholder=>"Your Phone Number"%> 
				    <br>  
				   		<%= f.input :subject,  :label=>'Subject:', :placeholder=>"What would you like to talk about?"%> 
				   

				 
					 
				   	 </th>
				   	</tr>
				   	</tbody>
				   	</table>
	
 
				     <div class="row">
				   	<div class="form-actions col-sm-offset-1 col-sm-8 ">
				   		 
				   		    <%= f.button :submit, 'Send Message', :class => 'btn-primary btn btn-lg' %>
	
				   	  </div>
				   	  </div>
 
				   	  </div>
				   	   </div>
				   	<% end %>
					
					
                    
                </div>
            </div>
        </div>
    </section>